{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "globals": {
        "Vue": true,
        "jQuery": true,
        "console": true,
        "wp": true,
        "window": true,
        "document": true
    },
    "rules": {
        "no-console": "off",
        "no-unused-vars": "warn",
        "no-undef": "warn"
    }
}